@import "~font-awesome/css/font-awesome.css";
@import "./node_modules/codemirror/lib/codemirror.css";

html {
  box-sizing: border-box;
}

html,
body {
  font-family: Roboto;
  font-size: small;
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
}


*,
*:before,
*:after {
  box-sizing: inherit;
}
